<h1>Position</h1>
<p>
  info:
  <a
    href="https://www.w3schools.com/cssref/pr_class_position.asp"
    target="_blank"
    >w3schools</a
  >
</p>
<p>
  default: static
</p>
<p>
  needs helper properties: top, bottom, left, right
</p>

<div>
  <h2>sticky</h2>
  <div class="demo-wrapper">
    <div class="demo demo-sticky">
      <div class="element green">sticky</div>
      <div class="element purple"></div>
    </div>
    <div class="desc">
      <ul>
        <li>sticks within the space of its parent</li>
        <li>at least one helper property must be defined</li>
        <li>kept in document flow</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <h2>static</h2>
  <div class="demo-wrapper">
    <div class="demo demo-static">
      <div class="element green"></div>
      <div class="element purple"></div>
    </div>
    <div class="desc">
      <ul>
        <li>default (nothing special)</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <h2>relative</h2>
  <div class="demo-wrapper">
    <div class="demo demo-relative">
      <div class="element green">relative</div>
      <div class="element purple"></div>
    </div>
    <div class="desc">
      <ul>
        <li>relative to its original position</li>
        <li>kept in document flow</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <h2>absolute</h2>
  <div class="demo-wrapper">
    <div class="demo demo-absolute">
      <div class="element green">absolute</div>
      <div class="element purple"></div>
    </div>
    <div class="desc">
      <ul>
        <li>relative to its closest non-static parent</li>
        <li>removed from document flow</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <h2>fixed</h2>
  <div class="demo-wrapper">
    <div class="demo demo-fixed">
      <div class="element green">fixed</div>
      <div class="element purple"></div>
    </div>
    <div class="desc">
      <ul>
        <li>relative to viewport</li>
        <li>removed from document flow</li>
      </ul>
    </div>
  </div>
</div>
