html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $color-highlight;

  &.active {
    background: $color-base;
    color: $color-highlight;
  }

  &:hover {
    background: $color-highlight;
    color: $color-base;
  }
}

table {
  border-collapse: collapse;
  th,
  td {
    text-align: left;
    border: 1px solid grey;
    padding: 5px 10px;
  }
}

.content {
  padding: $spacing;
}

.demo-wrapper {
  display: flex;
  justify-content: space-between;

  .demo {
    width: 60%;
  }

  .desc {
    width: 40%;
  }
}

.element {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green {
  background: #ced;
}

.purple {
  background: #cbf;
}
